<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global.css' %}" >
    {% block head %}
    {% endblock %}
</head>
<body>
    <header class="cabecalho">
        <span class="circulos"></span>
        <span class="circulos"></span>
        <span class="circulos"></span>
    </header>

    <main>
        {% block main %}
        {% endblock %}
    </main>
</body>
</html>